@media (max-width:500px){
.classContenedorRegistro{
flex-wrap: wrap;
justify-content: center;
text-align: center;
}
#contenedorclickGmail p{
    font-size: 18px;
    color: #F7CB2D;
    text-shadow: 0.1em 0.1em 1px #000;
    font-weight: bold;
}
#contenedorclickGmail {
    display: inline-flex;
    width: 275px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}
.ladoIzquierdo {
    display: none;
}
.logoRegistro{
width: 180px;
margin-top: 8px;
}
.gmail {
    width: 25px;
    margin-left: 10px;
}
.contenedorFraseInvitacionder{
    margin: 3px;
}
.contenedorFraseInvitacionder p{
    font-size: 20px;
    color: #F7CB2D;
    text-shadow: 0.1em 0.1em 1px #000;
    font-weight: bold;
}
.inputForm {
width: 275px;
height: 41px;
border-radius: 5px;
background: #F1E5B9;
border: 0.2px solid #000000;
margin: 10px;
font-family: inherit;
font-size: 18px;
font-weight: bold;
text-align: center;
}
#formularioRegistroUsuario .terminosBeerlover{
    font-size: 16px;
    font-family: inherit;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
    -webkit-text-stroke: 0.2px #1d1c19ad;
}
#formularioRegistroUsuario a{
    font-size: 16px;
    color: #edd376;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 1px #000;
    font-family: sans-serif;
}
#formularioRegistroUsuario label {
    font-size: 14px;
    font-family: inherit;
    color: #000;
    font-weight: bold;
    -webkit-text-stroke: 0.5px #1d1c19ad;
    margin-left: 8px;
}
.registrarme{
    width: 220px;
    height: 50px;
    border-radius: 79px;
    background: #523412;
    border: 0.2px solid #000000;
    margin-top: 12px;
    font-family: inherit;
    font-size: 22px;
    font-weight: bold;
    color: #EDD376;
} 
}

@media (min-width: 501px)  {
.classContenedorRegistro{
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.contenedorRegistro {
    margin: 20px;
    text-align: center;
}
.ladoIzquierdo{
    text-align: center;
    border-radius: 50px;
    width: 337px;
    height: 522px;
    margin: 20px;
}
.logoRegistroizq {
    width: 350px;
}
.logoRegistro {
    display: none;
}
.textoCervecero1regizq { 
    font-size: 35px;
    color: #F7CB2D;
    text-align: left;
    text-shadow: 0.1em 0.1em 3px #000;
    font-weight: bold;
    margin-top: 40px;
}
.ladoDerecho {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: rgba(237, 211, 118, 0.47);
    border-radius: 50px;
    width: 337px;
    height: 522px;
    margin-left: 170px;
    margin-top: 20px;
}
.contenedorFraseInvitacionder {
    margin: 10px;
    margin-top: 25px;
}
.contenedorFraseInvitacionder p{
    font-size: 24px;
    color: #F7CB2D;
    text-shadow: 0.1em 0.1em 3px #000;
    font-weight: bold;
}
.gmail {
    width: 25px;
    margin-left: 10px;
}
.contenedorGmail{
    display: inline-flex;
    width: 275px;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
/*Efecto hoover al contenedor Gmail*/
.contenedorGmail:hover {
    transform: scale(1.10); 
}

.contenedorGmail p {
    font-size: 18px;
    color: #F7CB2D;
    text-shadow: 0.1em 0.1em 3px #000;
    font-weight: bold;
}
.inputForm {
    width: 275px;
    height: 41px;
    border-radius: 5px;
    background: #F1e5B9;
    border: 0.2px solid #000000;
    margin: 3px;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
#formularioRegistroUsuario{
    margin-top: 5px;
}

.registrarme{
    width: 210px;
    height: 43px;
    border-radius: 79px;
    background: #523412;
    border: 0.2px solid #000000;
    margin-top: 10px;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #EDD376;
    cursor: pointer;
} 
.registrarme:hover,
.registrarme:focus {
  box-shadow: 0 0.9em 0.9em -0.7em #221910;
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
.registrarme {
  --hover: #8A5C28;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.registrarme:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
  background-color: #F7CB2D;
}
    .classContenedorRegistro{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    #contenedorclickGmail p{
        font-size: 18px;
        color: #F7CB2D;
        text-shadow: 0.1em 0.1em 1px #000;
        font-weight: bold;
    }
    #contenedorclickGmail {
        display: inline-flex;
        width: 275px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
    }

    .logoRegistro{
        width: 180px;
        margin-top: 8px;
    }
    .gmail {
        width: 25px;
        margin-left: 10px;
    }
    .contenedorFraseInvitacionder{
        margin: 3px;
    }
    .contenedorFraseInvitacionder p{
        font-size: 20px;
        color: #F7CB2D;
        text-shadow: 0.1em 0.1em 1px #000;
        font-weight: bold;
    }
    .inputForm {
        width: 275px;
        height: 41px;
        border-radius: 5px;
        background: #F1E5B9;
        border: 0.2px solid #000000;
        margin: 10px;
        font-family: inherit;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    #formularioRegistroUsuario label {
        font-size: 14px;
        font-family: inherit;
        color: #000;
        font-weight: bold;
        -webkit-text-stroke: 0.5px #1d1c19ad;
        margin-left: 8px;
    }
    .registrarme{
        width: 220px;
        height: 50px;
        border-radius: 79px;
        background: #523412;
        border: 0.2px solid #000000;
        margin-top: 12px;
        font-family: inherit;
        font-size: 22px;
        font-weight: bold;
        color: #EDD376;
    } 
}

@media (min-width: 501px)  {
    .classContenedorRegistro{
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }
    .contenedorRegistro {
        margin: 20px;
        text-align: center;
    }
    .ladoIzquierdo{
        text-align: center;
        border-radius: 50px;
        width: 337px;
        height: 522px;
        margin: 20px;
    }
    .logoRegistroizq {
        width: 350px;
    }
    .logoRegistro {
        display: none;
    }
    .textoCervecero1regizq { 
        font-size: 35px;
        color: #F7CB2D;
        text-align: left;
        text-shadow: 0.1em 0.1em 3px #000;
        font-weight: bold;
        margin-top: 40px;
    }
    .ladoDerecho {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        background: rgba(237, 211, 118, 0.47);
        border-radius: 50px;
        width: 337px;
        height: 522px;
        margin-left: 170px;
        margin-top: 20px;
    }
    .contenedorFraseInvitacionder {
        margin: 10px;
        margin-top: 25px;
    }
    .contenedorFraseInvitacionder p{
        font-size: 24px;
        color: #F7CB2D;
        text-shadow: 0.1em 0.1em 3px #000;
        font-weight: bold;
    }
    .gmail {
        width: 25px;
        margin-left: 10px;
    }
    .contenedorGmail{
        display: inline-flex;
        width: 275px;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;
    }
    .contenedorGmail:hover {
        transform: scale(1.10); 
    }
    .contenedorGmail p {
        font-size: 18px;
        color: #F7CB2D;
        text-shadow: 0.1em 0.1em 1px #000;
        font-weight: bold;
    }
    .inputForm {
        width: 275px;
        height: 41px;
        border-radius: 5px;
        background: #F1e5B9;
        border: 0.2px solid #000000;
        margin: 5px;
        font-family: inherit;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    #formularioRegistroUsuario{
        margin-top: 15px;
    }
    #formularioRegistroUsuario p{
        font-size: 17px;
        font-family: inherit;
        color: #F1e5B9;
        font-weight: bold;
        margin: 15px;
        text-shadow: 0.1em 0.1em 0.5px #000;
    }
    #formularioRegistroUsuario a{
        font-size: 16px;
        color: #252421;
        font-weight: bolder;
        text-shadow: 0.1em 0.1em 2px #edd376;
        font-family: sans-serif;
    }
   
    .registrarme{
        width: 160px;
        height: 50px;
        border-radius: 79px;
        background: #523412;
        border: 0.2px solid #000000;
        margin-top: 12px;
        font-family: inherit;
        font-size: 18px;
        font-weight: bold;
        color: #EDD376;
        cursor: pointer;
    } 
    .registrarme:hover,
    .registrarme:focus {
        box-shadow: 0 0.9em 0.9em -0.7em #221910;
        -webkit-transform: translateY(-0.25em);
        transform: translateY(-0.25em);
    }
    .registrarme {
        --hover: #8A5C28;
        transition: 0.25s;
    }
    .registrarme:hover, button:focus {
        border-color: var(--hover);
        color: #fff;
        background-color: #F7CB2D;
    }
}
.inputForm:focus{
   border: 3px solid #000000;
   outline: none;
   box-shadow: 3px 0px 30 px rgba(163, 163, 163, 0.4); 
}
.mensajeErrorRegistro {
    font-size: 13px;
    margin-bottom: 0;
    display: none;
    font-weight: bolder;
    color: rgba(10, 10, 10, 0.89);
  
  }
  .mensajeErrorRegistro-activo {
    display: block;
  }
  .registroMensaje {
    height: 35px;
    line-height: 25px;
    background: #f70a0a;
    padding: 0 10px;
    border-radius: 3px;
    display: none;
  }
  .registroMensaje  {
    margin:0;
    font-size: 12px;
    font-weight: bolder;
  }
  .registroMensaje-activo{
    display: block;
  }
 
 /* ------- Estilos para validación --------*/
.inputForm-incorrecto .inputForm{
    border: 3px solid #bb2929;
  }
.inputForm-correcto .inputForm{
    border: 3px solid #1bf008;
  }